<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pengllrn.tegm">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>-->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->
    <!--<uses-permission android:name="android.permission.CAMERA" />-->

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.ShowDevActivity">
        </activity>
        <activity
            android:name=".activity.DevDetailActivity"
            android:label="设备信息">
        </activity>
        <activity
            android:name=".activity.SearchDeviceActivity"
            android:label="设备列表">
        </activity>
        <activity android:name=".activity.DamageApllyActivity"
            android:label="设备报废申请">
        </activity>

        <!--相册选择器自带的两个活动，需要注册，其颜色可以在style里面设置-->
        <activity
            android:theme="@style/customTheme"
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            />
        <activity
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="423ff17515038a50c41085cc2dbd0087d2e51cbb" />
    </application>

</manifest>